* {
   margin: 0;
   padding: 0;
}

body {
   background-color: white;
   text-align: center;
   font-family: 'Open Sans', sans-serif;
}

nav{
  background-color: #fff;
  color: #e19246;
  display: flex;
  justify-content: space-around;
  height: 65px;
  align-items: center;
  font-size: 14px
}

nav  p {
   color: #e19246;
   font-size: 24px;
   line-height: 55px;
   float: left;
   padding: 0px 20px
}

nav ul {
   float: left;
}

nav ul li {
   float: left;
   list-style: none;
   position: relative;
}

nav ul li a {
 font-family: serif;
 color: #e19246;
 font-size: 14px;
 padding: 22px 14px;
 text-decoration: none;
}

nav ul li ul {
 display: none;
 position: absolute;
 background-color: #e19246;
 color: #fff;
 padding: 10px;
 text-align: left;
}

nav ul li ul li a {
  color: #fff;
  float: left;
  padding: 10px;
}

nav ul li:hover ul {
 display: block;
}

nav ul li ul li {
 width: 150px;
 border-radius: 0px 0px 4px 4px;
 color: #fff;
}

.logo img {
 float: left;
 max-width: 20%;
 max-height: 20%;

}

.login img {
 max-width: 50%;
 max-height: 50%;
 float: right;
}

html {
  background: url(images/tipsheader.png) no-repeat center fixed;
  background-size: cover;
}

.intro h4 {
  color: #e19246;
  padding: 40px;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.column img {
  max-width: 100%;
  max-height: 100%;
  padding: 40px;
}

h2 {
  color: #e19246;
  text-align: center;
}

.row2 {
  display: flex;
  padding: 40px;
  align-items: center;
}

.column2 {
  flex: 33.33%;
  padding: 30px;
  text-align: justify;
}

.column2 p {
  padding: 10px;
}

footer {
  text-align: center;
  padding: 30px;
  background-color: #1f1f1f;
  color: white;
  display: block;
  column-count: 3;
  list-style-type: none;
}

.column3 h4 p a {
  flex: 33.33%;
  padding: 10px;
  font-size: 10px;
}

.column3 a {
  color: #fff;
  text-decoration: none;
}

.column3 li a {
  display: block;
  text-decoration: none;
}

.row3 p {
  padding: 10px;
  color: white;
  text-decoration: none;
}

h4 {
  color: #e19246
}
